/* App.css */

html,
body,
#root {
  height: 100%; /* Ensure the app container takes up the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.cloudscape-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; /* Ensure the container takes up at least the full height of the viewport */
  background-color: #1c1e26; /* Dark bluish background */
  color: #ffffff; /* White text */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.cloudscape-heading {
  margin-top: 0; /* Remove default margin */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Utilize full width */
  max-width: 600px; /* Limit maximum width for better readability */
}

.cloudscape-textarea {
  width: 100%; /* Set width to 100% */
  min-height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #62757f; /* Dark bluish border */
  border-radius: 5px;
  resize: vertical;
  background-color: #2c3241; /* Darker bluish background for textarea */
  color: #ffffff; /* White text */
}

.cloudscape-textarea::placeholder {
  color: #8395a7; /* Lighter bluish placeholder text */
}

.icon-container {
  margin-top: 10px; /* Add some space between the text area and the icon */
}

.chat-icon {
  width: 30px;
  cursor: pointer;
}

.loading-mask {
  position: absolute; /* Position the loading mask absolutely */
  top: 0; /* Align to the top of the container */
  left: 0; /* Align to the left of the container */
  width: 100%; /* Cover the entire width of the container */
  height: 100%; /* Cover the entire height of the container */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other elements */
}

